.middle2 > div {
  padding: 0;
}
.demo-picX {
  overflow: auto;
  width: 6.74rem;
}
.picX-box {
  width: 9rem;
}
.picX-box > div {
  float: left;
  width: 3rem;
  padding: 0 0.2rem 0.2rem 0;
}
.picX-box > div > img {
  width: 100%;
}
.demo-card {
  box-shadow: 0 0 2px 2px #999;
  border-radius: 0.1rem;
  margin-bottom: 0.3rem;
}
.demo-card > div:first-child > img {
  width: 100%;
}
.demo-card > div > p {
  display: block;
  padding-left: 0.2rem;
  font-size: 0.3rem;
}
.demo-card > div:nth-child(2) > p {
  color: #000;
}
