.wrap {
  background-color: rgba(224, 221, 221, 0.527);
}
header span {
  font-size: 0.3rem;
  display: block;
}
header > .inner > div {
  float: left;
  padding: 0.2rem 0;
  display: flex;
  align-items: center;
}
header > .inner > div:first-child > span {
  float: left;
  margin-right: 0.15rem;
}
.back {
  color: rgb(53, 176, 171);
}
header > .inner > div:last-child {
  float: right;
}
textarea {
  width: 6.75rem;
  border: 1px solid rgb(53, 176, 171);
  resize: none;
  padding: 0.2rem;
  padding-bottom: 3rem;
}
.textarea {
  position: relative;
}
.area-card {
  position: absolute;
  bottom: 0.1rem;
  left: 0.2rem;
  width: 6.75rem;
}
.area-card span {
  font-size: 0.3rem;
  display: block;
}
.area-card > span {
  width: 1.5rem;
  padding: 0.1rem;
  background-color: rgba(236, 106, 45, 0.918);
}
.area-img > div {
  float: left;
  width: 25%;
  margin: 0.1rem;
  padding: 0.1rem;
}
.area-img > div:first-child {
  padding-left: 0;
  margin-left: 0;
}
.area-img > div > img {
  width: 100%;
}
.area-img > div:last-child {
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
}
.area-img > div:last-child > span {
  font-size: 0.5rem;
}
.bottom-t span,
.bottom-b > div:first-child span {
  display: block;
  font-size: 0.3rem;
  color: aliceblue;
}
.bottom-t > div,
.bottom-b > div {
  float: left;
  padding: 0 0.2rem;
}
div.click {
  padding: 0 0.2rem 0 0;
}
.bottom-t > div:last-child,
.bottom-b > div:last-child {
  float: right;
}
.bottom-t > div:last-child > span {
  float: left;
}
.bottom-t,
.bottom-b {
  padding: 0.2rem 0;
  background-color: rgb(53, 176, 171);
}
.bottom-t {
  border-bottom: 1px solid #999;
}
.mes {
  position: relative;
  top: -0.3rem;
}
section {
  height: 90vh;
}
.icon-right {
  margin-top: 0.05rem;
  margin-left: 0.2rem;
}
.bg {
  width: 0.6rem;
  display: block;
  padding-bottom: 0.3rem;
  background-color: aliceblue;
}
.move {
  position: absolute;
  display: block;
  top: 0;
  left: 0.3rem;
  z-index: 222;
  width: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: rgba(243, 100, 34, 0.747);
}
.click {
  position: relative;
}
.mLeft {
  left: 0.2rem;
}
